*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/appInsightsSettings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/google-services.json
/app/src/main/java/com/gildongmu/ddu_ru_mobile/DevEntryActivity.kt
/.idea/deviceManager.xml
